@model Cohub.Data.Usr.Comment

<div class="input-group">
    <label asp-for="Html"></label>
    <textarea asp-for="Html" required></textarea>
    <span asp-validation-for="Html"></span>
    <span class="text-muted">HTML</span>
</div>
