<ul>
    @foreach (var prop in this.ViewData.ModelExplorer.Properties.OrderBy(o => o.Metadata.Order))
    {
        if (!prop.Metadata.ShowForDisplay ||
            prop.Metadata.Name == null ||
            prop.Model == null ||
            (prop.Model is string text && string.IsNullOrWhiteSpace(text)) ||
            (prop.Model as IEnumerable<object>)?.Any() == false)
        {
            continue;
        }
        var name = prop.Metadata.Name;
        if (name.EndsWith("Id") && this.ViewData.ModelExplorer.Properties.Any(p => p.Metadata.Name == name.Substring(0, name.Length - 2)))
        {
            continue;
        }
        var displayName = Html.DisplayName(name);
        <li>
            <strong>@displayName@(System.Text.RegularExpressions.Regex.IsMatch(displayName, "[A-Za-z0-9]$") ? ":" : "")</strong>
            @if (prop.Metadata.IsCollectionType)
            {
                @Html.Display(name, "CollectionTree")
            }
            else if (prop.Metadata.IsComplexType)
            {
                @Html.Display(name, "ComplexTree")
            }
            else
            {
                @Html.Display(name)
            }
        </li>
    }
</ul>