@model string
@inject CohubDbContext db
@{
    var items = await db.Labels()
        .Where(o => o.GroupId == "Geocode")
        .Where(o => o.IsActive || (Model != null && o.Id == Model))
        .OrderBy(o => o.Id)
        .Select(o => new SelectListItem(o.Value + ": " + o.Title, o.Id, o.Id == Model))
        .ToListAsync();
}
<select asp-for="@Model" asp-items="@items" select2='{ "width": "100%" }'>
    <option value="">Choose…</option>
</select>