@model string
@inject CohubDbContext db
@{
    var items = await db.Set<Relationship>()
        .Where(o => o.IsActive || (Model != null && o.Id == Model))
        .OrderBy(o => o.Id)
        .Select(o => new SelectListItem(o.ToString(), o.Id.ToString(), o.Id == Model))
        .ToListAsync();
}
<select asp-for="@Model" asp-items="@items">
    <option></option>
</select>