@{
    ViewData["Title"] = "Generators";
}

<div class="text-center">
    <h1 class="display-4">Generators</h1>
</div>

<ul>
    <li>
        <a href="~/ScaffoldByType">ScaffoldByType</a>
    </li>
</ul>